
<!DOCTYPE html>
<html>
  <head><title>FRY page</title>
   <script>
     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-48622923-1', 'pghfishfry.com');
      ga('send', 'pageview');

    </script>
  </head>
    <body>
      <h2><%=@fry['name']%></h2>
      <h2>Hours</h2>
      <li><%=@fry['hours']%></li>
      <h2>Address</h2>
      <li><%=@fry['address']%></li>
      <div class="fluid-wrapper"><iframe src="<%=@fry['glink']%>" width="600" height="450" frameborder="0" style="border:0"></iframe>
      </div>
      <h2>Menu</h2>
      <li><%=@fry['menu']%></li>
      <h2>Price</h2>
      <li><%=@fry['price']%></li>
      <h2>Contact</h2>
      <li><%=@fry['contact']%></li>
</body>
</html>
