
<!DOCTYPE html>
<html>
  <head><title>blaaahhhhh</title></head>
    <body>
      <h2><%=@fry['name']%></h2>
      <h2>Hours</h2>
      <li><%=@fry['hours']%></li>
      <h2>Address</h2>
      <li><%=@fry['address']%></li>
      <div class="fluid-wrapper"><iframe src="<%=@fry['glink']%>" width="600" height="450" frameborder="0" style="border:0"></iframe>
      </div>
      <h2>Menu</h2>
      <li><%=@fry['menu']%></li>
      <h2>Price</h2>
      <li><%=@fry['price']%></li>
      <h2>Contact</h2>
      <li><%=@fry['contact']%></li>
</body>
</html>
